:root {
  --color-1: #FEFBE9;
  --color-2: #E1EEDD;
  --color-3: #F0A04B;
  --color-4: #183A1D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.App h1 {
  color: var(--color-4);
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.editor-container,
.preview-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em 3em;
  width: 588px;
  height: 832px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 7px;;
}

.editor-container {
  padding: 1em 3em;
  width: 588px;
  height: min-content;
}

.preview-container {
  width: 588px;
  height: 832px;
  padding: 70px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

input,
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 4px 6px;
  background-color: var(--color-1);
  border: 2px solid var(--color-4);
  border-radius: 5px;
}

textarea {
  resize: none;
}

/* hiding arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

h3 {
  color: var(--color-4);
  align-self: flex-start;
}

hr {
  width: 105%;
  height: 3px;
  background-color: var(--color-3);
}
