:root {
  --color-1: #FEFBE9;
  --color-2: #E1EEDD;
  --color-3: #F0A04B;
  --color-4: #183A1D;
}


/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
}


/* App */

.App {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.App > h1 {
  color: var(--color-4);
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.editor-container,
.preview-container {
  width: 595px;
  height: 842px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 7px;;
}


/* Editor */

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.3em 3em;
  height: min-content;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

input,
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 4px 6px;
  background-color: var(--color-1);
  border: 2px solid var(--color-4);
  border-radius: 5px;
}

textarea {
  resize: none;
}

.editor-container h3 {
  color: var(--color-4);
  align-self: flex-start;
}

/* hiding arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.color-picker-div {
  display: flex;
  align-items: center;
  gap: 2em;
}

.color-picker-div input {
  width: 38px;
  height: 38px;
}

.editor-container hr {
  width: 100%;
  height: 3px;
  background-color: var(--color-3);
}


/* Preview */

.preview-container {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1.6fr;
  align-items: center;
  height: 832px;
  padding: 60px;
}

.picture-div {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/2/2;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 112, 168);
}

.picture {
  width: 145px;
  height: auto;
}

.about-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: 2/1/4/2;
  padding: 8px;
  font-size: 0.8rem;
  text-align: justify;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 112, 168);
}

.about-div > h2 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: 1/2/2/3;
  padding: 0.5em;
}

.additional-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  font-size: 0.75rem;
  padding-left: 4em;
}

.additional-info-div div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.number,
.email,
.linkedin,
.github,
.location {
  width: 20px;
  height: auto;
}

.work-exp {
  grid-area: 2/2/3/3;
}

.education {
  grid-area: 3/2/4/3;
}

.preview-container hr {
  width: 100%;
  height: 3px;
  background-color: rgb(51, 112, 168);
}